*.tfstate
*.tfstate.backup
.idea
.idea/vcs.xml
.idea/workspace.xml
/**/.vagrant
/**/service.ipr
/**/service.iws
/vagrant/last-run.properties
/vagrant/support-files/.IntelliJIdea2016.3/config/plugins
/vagrant/support-files/.IntelliJIdea2016.3/config/sonarlint
/vagrant/support-files/.IntelliJIdea2016.3/config/eval
/vagrant/support-files/.IntelliJIdea2016.3/config/options/proxy.settings.pwd
/vagrant/support-files/.IntelliJIdea2016.3/config/port
/vagrant/support-files/.IntelliJIdea2016.3/config/port.lock
vagrant/.env
node_modules
typeScript
reports
prt.js


